<%- include ("header") %>

  <div class="max-w-screen-2xl mx-auto">

    <h1 class="text-2xl mb-2 font-semibold">Create New Incubator</h1>
    <h1 class="text-xl mb-10">Please fill the form below to add a new Incubator!</h1>
    <form action="/incubators/add" method="post">
      <div class="mb-6">
        <label for="name" class="block mb-2 font-medium text-gray-900 text-xl">The Name of The Incubator?</label>
        <input type="text" id="name" name="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>
      <div class="mb-6">
        <label for="location" class="block mb-2 font-medium text-gray-900 text-xl">The Location of The
          Incubator?</label>
        <input type="text" id="location" name="location"
          class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>

      <fieldset>
        <h1 class="text-xl mb-5 font-medium">The Level of The Incubator?</h1>

        <% levels.forEach((level, i)=> { %>

          <div class="flex items-center mb-5">
            <input id="country-option-<%= i %>" type="radio" name="level" value="<%= level %>"
              class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 ">
            <label for="country-option-<%= i %>" class="block ml-2 text-lg text-gray-900">
              <%= level %>
            </label>
          </div>

          <% }) %>

      </fieldset>

      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center ">Submit</button>
    </form>
  </div>
  </body>

  </html>