<%- include ("./header") %>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg max-w-screen-2xl mx-auto">
        <table class="w-full text-lg text-left text-gray-500">
            <thead class="text-md text-gray-700 uppercase bg-gray-100">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Code
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Location
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Level
                    </th>
                    <th scope="col" class="py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <% datas.forEach(data=> { %>

                    <tr class="bg-white border-b">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                            <%= data.name %>
                        </th>
                        <td class="py-4 px-6">
                            <%= data.code %>
                        </td>
                        <td class="py-4 px-6">
                            <%= data.location %>
                        </td>
                        <td class="py-4 px-6">
                            <%= data.level %>
                        </td>
                        <td class="py-4">
                            <a href="/incubators/<%= data.id %>" class="font-medium text-blue-600 hover:underline border p-2">See
                                Detail</a>
                        </td>
                    </tr>

                    <% }) %>
            </tbody>
        </table>
    </div>
    </body>

    </html>